<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some Website</title>
</head>

<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut optio, fugiat eum cupiditate recusandae ipsum. Unde
        ea totam officia libero facilis nulla amet aliquid, obcaecati dolorum, itaque perferendis! Veniam, autem.</p>
    {{> footer}}
</body>

</html>